@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque7__item {
    height: auto;
    // background-color: red;
    display: grid;
    grid-template-columns: 12% 88%;
    @include m.tablet_768 {
        grid-template-columns: 10% 90%;
    }
    // @include m.desktop_1920 {
    //     grid-template-columns: 5% 95%;
    // }
}

.bloque7__image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 3rem;
        background-size: cover;
        transform: scale(.6);
        @include m.desktop_1020 {
            transform: scale(.8);
        }
        @include m.desktop_1280 {
            transform: scale(1.3);
        }
    }
}

.bloque7__description {
    // padding: 3rem 1rem;
    h3 {
        // padding: 1rem 1rem 1rem 0;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        font-family: v.$fuente_helReg;
        font-weight: 100;
        font-size: 1.2rem;
        @include m.phone_360 {
            // padding: 2rem 1rem 2rem 0;
        }
        @include m.tablet_768 {
            font-size: 1.5rem;
            // padding: 3rem 1rem 3rem 0;
        }
        @include m.desktop_1020 {
            // padding: 3rem 6rem 3rem 0;
            font-size: 1.8rem;
        }
        @include m.desktop_1280 {
            // padding: 5rem 6rem 5rem 0;
            font-size: 2.4rem;
        }
        @include m.desktop_1920 {
            // padding: 5rem 13rem 5rem 0;
            font-size: 2.5rem;
        }   
        @include m.desktop_2240 {
            font-size: 3.6rem;
        }
    }
}