@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../fonts/Helvetica.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'PTSerif-Regular';
    src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-display: swap;
}