doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Diplomado en Investigación Clínica
        link(rel="stylesheet", href="./css/app.css")
    body
        header
            .header__container
                .header__logo
                .heder__link
                    h3 posgrado.cayetano.edu.pe
        .bloque1
            //- height: auto
            .formContainer.formContainerGracias
                //- height: auto
                .form
                    //- height: auto
                    .form__titulo__container
                        .itemMovil_1
                            h3 DIPLOMADO EN
                                br
                                | INVESTIGACIÓN
                                br
                                | CLÍNICA
                        .itemMovil_2
                        .itemMovil_3
                        .itemMovil_4
                        .itemMovil_5
                        .itemMovil_6
                        .itemMovil_7
                        .itemMovil_8.itemMovil8__other
                        .itemMovil_9.itemMovil9__other
                        .itemMovil_10.itemMovil10__other
                    .form__thanks
                        .formThanks__container
                            .formThanksContainer__item
                                h5 Modalidad: 
                                h4 A distancia
                            .formThanksContainer__item2
                                .formThanksContainer__item2--container
                                    h5 Inscripciones hasta: 
                                    h4 17 de mayo
                    .form__desktop.formDesktop__gracias
                        .formDesktop__title.formDesktop__title--gracias
                            //- h5 Doctorado en
                            //- h4 Psicología
                            //- .form__date
                                
                        .formDesktop__image
                            .formDesktop__imageContainer
                        .formDesktop__corner.formDesktop__corner--gracias
                        //- .formDesktio__other3.formDesktio__other3--gracias
                        .certificadoDesktop__other4
                        .certificadoDesktop__other5
                        .itemMovil11__other
                        .itemMovil12__other
                            h3 DIPLOMADO EN
                                br
                                | INVESTIGACIÓN
                                br
                                | CLÍNICA
                        .itemMovil13__other
                        .itemMovil14__other
                        .itemMovil11__other
                             h3 Modalidad:
                                br
                                | A distancia
                    .dateContainer.dateContainerGracias
                        .thanks__container
                            .thanks__top
                                .thanks
                                    h3 ¡GRACIAS!
                            .thanks__bottom
                                h4 Hemos recibido tus datos, pronto un asesor se comunicará contigo.
                        .thanks__button
                            .thanks_brochure_container
                                a(href="https://lp.cayetano.edu.pe/site/posgrado_brochure/br-dip-investigacion-clinica.pdf" target="_blank").brochure__container 
                                    .brochure__img
                                    h3 DESCARGAR BROCHURE 
        .bloque2.bloque2--gracias
            .bloque2__gracias
                .bloque2Gracias__top
                    .graciasTop__container
                        h3 CRONOGRAMA DE ADMISIÓN
                .bloque2Gracias__bottom
                    .bloque2GraciasBottom__item.bloque2GraciasBottom__item--black 
                        h3 Inscripciones
                    .bloque2GraciasBottom__item.bloque2GraciasBottom__item__height
                        h3 Desde el 06 de mayo del 2024
                    .bloque2GraciasBottom__item.bloque2GraciasBottom__item--black  
                        h3 Evaluación curricular
                    .bloque2GraciasBottom__item 
                        h3 07 de mayo del 2024
                    .bloque2GraciasBottom__item.bloque2GraciasBottom__item--black  
                        h3 Publicación de resultados
                    .bloque2GraciasBottom__item 
                        h3 08 de mayo del 2024
                    .bloque2GraciasBottom__item.bloque2GraciasBottom__item--black  
                        h3 Matrícula
                    .bloque2GraciasBottom__item 
                        h3 15 de mayo del 2024
                    .bloque2GraciasBottom__item.bloque2GraciasBottom__item--black  
                        h3 Inicio de clases
                    .bloque2GraciasBottom__item 
                        h3 17 de mayo del 2024
        .bloque6
            .bloque6__container
                .bloque6__button
                    a(target="_blank" href="https://wa.pe/GbwUWGmS5Z").bloque6Button__container
                        h3 Conversemos ahora
                .bloque6__title
                    h3 Comunícate con nosotros y despeja tus dudas.
            .bloque6__image
                img(loading="lazy" src="img/chica.webp")
        .bloque4
            .bloque4__container
                .bloque4__logo
                .bloque4__campus
                    .campus__container
                        h4 Campus Miraflores:
                        h5 Av. Armendáriz 445, Miraflores
                .bloque4__tramites
                    .tramites__container
                        h4 Contáctanos:
                        h5 posgrado.ventas@oficinas-upch.pe
        footer
            .footer__container
                .footer__item
                .footer__item
                .footer__item
                .footer__item
                .footer__item
        script(src="./js/script.js" async)